<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="tachiyomi.ext">

  <uses-feature android:name="tachiyomi.extension" />

  <application
    android:icon="@mipmap/ic_launcher"
    android:allowBackup="false"
    android:label="${appName}">

    <meta-data
      android:name="tachiyomi.extension.class"
      android:value="${extClass}" />

    <activity android:name="tachiyomi.sourcedeeplink.SourceDeepLinkActivity"
      android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:scheme="https"
          android:host="mangadex.org"
          android:pathPattern="/manga/.*" />
        <data
          android:scheme="https"
          android:host="mangadex.org"
          android:pathPattern="/chapter/.*" />
      </intent-filter>
    </activity>

  </application>

</manifest>
